@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Cairo&display=swap");

body {
  background-color: #f1efe4;
  margin-top: 100px;
}
.nav {
  font-family: "Dancing Script", cursive;
}
a {
  text-decoration: none;
}
.nav ul,
.navmobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li.navmobile li {
  display: inline-block;
}
.nav a,
.navmobile a {
  color: black;
  font-family: "Cairo", sans-serif;
}
.notonhomepage .nav a {
  color: black;
  font-family: "Cairo", sans-serif;
}
.logo h1 {
  font-weight: 700;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
header.page1.page {
  height: 100vh;
}
.page2content,
.page3content {
  margin-top: 0px;
}
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger svg {
  width: 50px;
  height: 50px;
  stroke: #000;
  fill: none;
  transition: all 0.5s ease;
}
.burger .line1 {
  transform-origin: 50% 50%;
  transition: transform 0.5s ease;
  border-radius: 50%;
}
.burger .line2 {
  opacity: 1;
  transition: opacity 0.25s ease;
}
.burger .line3 {
  transform-origin: 50% 50%;
  transition: transform 0.5s ease;
}
.burger .circle1 {
  opacity: 1;
  transition: opacity 0.25s ease;
}
.burger.active .line1 {
  transform: rotate(45deg);
  transform-origin: 37% 45%;
}
.burger.active .line2 {
  opacity: 0;
}
.burger.active .line3 {
  transform: rotate(-45deg);
  transform-origin: 35% 55%;
}
.burger.active .circle1 {
  opacity: 0;
}
legend {
  float: none !important;
  padding: initial !important;
  width: initial !important;
}
.inline-vocabulary,
.inline-input {
  display: block;
  text-align: right;
  margin: 10px 5px 15px 5px;
}
#exerciceSection {
  display: none;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.exercice {
  font-size: 1em;
  font-weight: bold;
}
.exercice fieldset {
  padding: 10px 20px;
  border: 1px solid #bf9b30;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #bf9b30;
  background: rgb(255 255 255 / 95%) !important;
}
#popup-f1e084dd {
  border: 1px solid #bf9b30;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #bf9b30;
  background: #4c2a02;
}
.exercice legend {
  color: #4c2a02;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #bf9b30;
  text-align: left;
}
.vocabulaire {
  white-space: nowrap;
}
.vocabulary {
  color: #755503;
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 10px;
  text-align: left !important;
}
.vocabAR {
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  font-family: "Amiri Quran", serif;
  font-size: 1.3em;
}
.vocabFR {
  font-family: "Cairo", sans-serif;
}
span.vocabAR.or {
  width: 0px;
  margin: 0 15px 0 10px;
}
span.vocabAR.and {
  width: 0px;
  margin: 0 35px 0 10px;
}
.InputFill {
  margin-right: 5px;
  font-family: "Amiri Quran", serif;
  text-align: right !important;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid #bf9b30;
  border-radius: 5px;
  font-weight: bold;
  width: 25%;
  padding: 2px 5px;
}
.Vocab-hidden {
  display: none;
}
.correction {
  text-align: center;
  margin: 0 auto;
}
.btnExo {
  width: 15%;
  margin: 5px 5px;
  border: 1px solid #bf9b30;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bf9b30;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #bf9b30 0%,
    #dccb96 51%,
    #bf9b30 100%
  );
  transition: 0.5s;
  background-size: 270% auto;
  color: #4c2a02;
  transition-duration: 400ms;
  transform: scale(1);
}
.btnVocab,
#button-d2607e45 {
  display: block;
  width: 15%;
  margin: 5px auto;
  border: 1px solid #bf9b30;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bf9b30;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #bf9b30 0%,
    #dccb96 51%,
    #bf9b30 100%
  );
  transition: 0.5s;
  background-size: 270% auto;
  color: #4c2a02;
  transition-duration: 400ms;
  transform: scale(1);
}
.btnExo:hover,
.btnVocab:hover,
#button-d2607e45:hover {
  background-position: right center;
  color: #4c2a02;
  text-decoration: #683f19;
  transform: scale(0.98);
  background-color: #683f19;
  border-color: #ae6e32;
  box-shadow: 0px 0px 5px #83691e;
}

#Aff {
  color: #bf9b30;
  font-weight: bold;
  margin-top: 10px;
}
.oVYRo::before,
.oVYRo::after {
  background-color: #d1b971;
}
.imgBG {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1efe4;
  z-index: 99999;
}
.loader-wrapper.hide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#logo {
  top: 0%;
  left: 3%;
  width: 95%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  animation: fill 2s ease forwards 2.2s;
}
#logo-a {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  animation: anime 4s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 0.5s;
}
#logo path:nth-child(3) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1s;
}
#logo path:nth-child(4) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1.5s;
}
@media screen and (min-width: 1100px) {
  .vocabulary label {
    display: inline-block;
    width: 325px;
    vertical-align: top;
    white-space: nowrap;
  }
  .vocabAR {
    font-family: "Amiri Quran", serif;
  }
}
@media screen and (min-width: 769px) {
  .navmobile {
    display: none;
  }
  .page2content,
  .page3content {
    margin-top: 62px;
  }
  .navwrapper {
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .notonhomepage {
    border: 1px solid #bf9b30;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bf9b30;
    background: rgb(255 255 255 / 95%) !important;
    margin: 10px;
  }
  .notonhomepage li.iamselected {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .logo {
    transition: all 0.3s ease-in-out;
    flex-basis: 20%;
  }
  .navlist {
    flex-basis: 55%;
  }
  .navlist li {
    font-size: 1.3rem;
  }
  .navlist li a {
    padding: 20%;
  }
  .navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .navlist li {
    flex-grow: 1;
  }
  .navlist li:hover {
    border-bottom: 3px solid #4c2a02;
    margin-bottom: -12px;
    padding-bottom: 9px;
  }
  .iamselected {
    border-bottom: 3px solid #4c2a02;
    margin-bottom: -12px;
    padding-bottom: 9px;
  }
}
@media screen and (max-width: 768px) {
  .imgBG {
    width: 140%;
  } 
  .inline-vocabulary {
    width: 100%;
    display: inline-table;
  }
  .inline-input {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .correction,
  #button-d2607e45,
  #button-d2607e45,
  .btnExo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btnVocab {
    width: auto;
  }
  .inline-input > div:nth-child(3) {
    order: 3;
  }

  input.InputFill {
    width: 50%;
    margin: 2px 3px 5px 0;
    height: 50px;
  }
  .vocabulary {
    margin: 0 auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navmobile {
    display: none;
  }
  .hideme {
    display: none;
  }
  .page2content,
  .page3content {
    margin-top: 60px;
  }
  .navlist li {
    font-size: 1.13rem;
  }
  .iamselected {
    border-bottom: 1.5px solid #4c2a02;
    margin-bottom: -12px;
    padding-bottom: 10.5px;
  }
  .notonhomepage li.iamselected {
    display: none;
  }
  .logo {
    transition: all 0.3s ease-in-out;
    padding-bottom: 4%;
    display: none;
  }
  .navwrapper .notonhomepage {
    color: black;
  }
  .navwrapper {
    transition: all 0.3s ease-in-out;
    padding-top: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .notonhomepage {
    border: 1px solid #bf9b30;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bf9b30;
    background: rgb(255 255 255 / 95%) !important;
    margin: 10px;
  }
  .navlist li a {
    padding: 20%;
  }
  .navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navlist li {
    flex-grow: 1;
  }
}
@media screen and (max-width: 480px) {
  .hideme {
    display: none;
  }
  .nav {
    display: none;
  }
  .toggleMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px 20px 15px 15px;
    cursor: pointer;
    background: #648b79;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .sidemenu {
    position: fixed;
    top: 0px;
    width: 240px;
    margin-left: -250px;
    overflow: hidden;
    height: 100vh;
    background: rgba(17, 17, 17, 0.9);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
  }
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
  }
  .cross:hover {
    opacity: 1;
  }
  .navmobile {
    width: 100vw;
  }
  .signup {
    font-size: 1.6rem;
    width: 200px;
    padding: 3px 0px;
    border: solid 1px white;
    color: white;
    text-align: center;
    margin: 30px auto 20px auto;
    transition: all 0.3s ease-in-out;
  }
  .signup:hover {
    background-color: white;
    color: #111;
    transition: all 0.3s ease-in-out;
  }
  .signup a:hover {
    color: black;
  }
  .navmobile .navlistmobile {
    font-size: 1.4rem;
    margin: 20px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .navlistmobile li {
    padding: 12px 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: #d8d8d8;
    border-bottom: solid 1px #d8d8d8;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
  }
  .showmenu {
    margin-left: 0px;
  }
  .changeopacity {
    opacity: 0;
  }
}
@keyframes anime {
  100% {
    stroke-dashoffset: 1000;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #83691e;
    stroke: #4c2a02;
  }
}
