@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Cairo&display=swap");

:root {
  --couleur-fond-clair: rgb(228, 235, 245);
  --couleur-contrast-clair: rgb(206, 212, 220);
  --couleur-btn-clair: rgb(3, 28, 64);
  --couleur-box-shadow-int-clair: inset -3px -3px 3px rgba(255, 255, 255, 0.267),
    inset 3px 3px 3px rgba(137, 142, 146, 0.267);
  --couleur-box-shadow-out-clair: -3px -3px 3px rgba(255, 255, 255, 0.267),
    3px 3px 3px rgba(137, 142, 146, 0.267);
}

body {
  background-color: var(--couleur-fond-clair);
  margin-top: 100px;
}
a {
  text-decoration: none;
}
nav.navwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cairo", sans-serif;
}
h1.brandLogo a,
h1.brandPub a {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--couleur-btn-clair);
}
ul.navlist a {
  color: var(--couleur-btn-clair);
  font-weight: bold;
}
ul.navlist a:hover {
  border-radius: 10px;
  color: var(--couleur-contrast-clair);
  box-shadow: var(--couleur-box-shadow-int-clair);
  transition: 0.3s ease-in-out; 
}
.navwrapper ul,
.showPubul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
header.page1.page {
  height: 100vh;
}
.toggleMenu {
  display: flex;
  margin-left: 3%;
  flex-direction: row-reverse;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.burger .toggleMenu {
  display: flex;
  flex-direction: row-reverse;
}
.burger svg {
  width: 50px;
  height: 50px;
  stroke: var(--couleur-btn-clair);
  fill: none;
  transition: all 0.5s ease;
  z-index: 999;
  border-radius: 10px;
  box-shadow: var(--couleur-box-shadow-out-clair);
}
.burger svg:hover {
  stroke: var(--couleur-contrast-clair);
  fill: var(--couleur-fond-clair);
  transition: all 0.5s ease;
}
.burger.toggleMenu.active svg {
  stroke: var(--couleur-contrast-clair);
  background-color: var(--couleur-fond-clair);
  box-shadow: var(--couleur-box-shadow-int-clair);
  transition: all 0.5s ease;
}
.burger .line1 {
  transform-origin: 50% 50%;
  transition: transform 0.5s ease;
  border-radius: 50%;
}
.burger .line2 {
  opacity: 1;
  transition: opacity 0.25s ease;
}
.burger .line3 {
  transform-origin: 50% 50%;
  transition: transform 0.5s ease;
}
.burger.active .line1 {
  transform: rotate(45deg);
  transform-origin: 37% 45%;
}
.burger.active .line2 {
  opacity: 0;
}
.burger.active .line3 {
  transform: rotate(-45deg);
  transform-origin: 35% 55%;
}
.burger.active .circle1 {
  opacity: 0;
}
.sidemenu {
  position: fixed;
  top: 0px;
  width: 240px;
  margin-left: -250px;
  overflow: hidden;
  height: 100vh;
  border-radius: 0 10px;
  box-shadow: var(--couleur-box-shadow-int-clair);
  font-family: "Cairo", sans-serif;
  background: var(--couleur-fond-clair);
  transition: margin-left 0.3s ease-in-out;
}
.sidemenu-content {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.sidemenu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--couleur-fond-clair);
  z-index: 0;
  display: none;
  transition: 0.3s ease-in-out;
}
.showPub {
  width: 100vw;
}
.pub {
  font-size: 1.6rem;
  width: 200px;
  height: 200px;
  padding: 3px 0px;
  border-radius: 10px;
  box-shadow: var(--couleur-box-shadow-int-clair);
  text-align: center;
  margin: 30px auto 20px auto;
}
.signup {
  font-size: 1.6rem;
  width: 200px;
  padding: 3px 0px;
  border-radius: 10px;
  box-shadow: var(--couleur-box-shadow-out-clair);
  text-align: center;
  margin: 50px auto 100px auto;
  transition: all 0.3s ease-in-out;
}
.signup a {
  color: var(--couleur-btn-clair);
  font-weight: bold;
}
.signup a:hover {
  color: var(--couleur-contrast-clair);
  transition: 0.2s ease-in-out;
}
.signup:active {
  box-shadow: var(--couleur-box-shadow-int-clair);
  transition: 0.2s ease-in-out;
}
.showPub.navlistPub {
  font-size: 1.4rem;
  margin: 20px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
ul.navlistPub a {
  color: var(--couleur-btn-clair);
  font-weight: bold;
}
.navlistPub li {
  padding: 12px 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--couleur-btn-clair);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.showmenu {
  margin-left: 0px;
}
legend {
  float: none;
  padding: initial;
  width: initial;
}
.p1 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  color: #08f417;
  text-align: center;
  font-size: 2em;
  margin: 50px auto;
}
.p2 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  color: var(--couleur-btn-clair);
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0px;
}
.p3,
.p4 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  color: #d04c4c;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 50px;
}
.inline-vocabulary,
.inline-input {
  display: block;
  text-align: right;
  margin: 10px 5px 15px 5px;
}
#exerciceSection {
  display: none;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.exercice {
  font-size: 1em;
  font-weight: bold;
}
.exercice fieldset {
  margin-bottom: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--couleur-box-shadow-out-clair);
  background: var(--couleur-fond-clair) !important;
}
#popup-f1e084dd {
  border: 1px solid #bf9b30;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #bf9b30;
  background: #4c2a02;
}
.exercice legend {
  color: var(--couleur-btn-clair);
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  background: var(--couleur-fond-clair);
}
.vocabulary {
  color: var(--couleur-btn-clair);
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 10px;
  text-align: left;
}
.vocabAR {
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  font-family: "Amiri Quran", serif;
  font-size: 1.3em;
}
.vocabFR {
  font-family: "Cairo", sans-serif;
}
span.vocabAR.or {
  width: 0px;
  margin: 0 15px 0 10px;
}
span.vocabAR.and {
  width: 0px;
  margin: 0 35px 0 10px;
}
.InputFill {
  margin-right: 5px;
  font-family: "Amiri Quran", serif;
  text-align: right !important;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 25%;
  padding: 2px 5px;
  box-shadow: var(--couleur-box-shadow-out-clair);
  background: var(--couleur-fond-clair);
}
input:focus {
  caret-color: transparent;
  outline: none;
  box-shadow: var(--couleur-box-shadow-int-clair);
}
.Vocab-hidden {
  display: none;
}
.correction {
  text-align: center;
  margin: 0 auto;
}
.btnExo {
  width: 15%;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--couleur-box-shadow-out-clair);
  background: var(--couleur-fond-clair);
  transition: 0.5s;
  background-size: 270% auto;
  color: var(--couleur-btn-clair);
  transition-duration: 400ms;
}
.btnVocab,
#button-d2607e45 {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  border: none;
  box-shadow: var(--couleur-box-shadow-out-clair);
  background: var(--couleur-fond-clair);
  transition: 0.5s;
  background-size: 270% auto;
  color: var(--couleur-btn-clair);
  transition-duration: 400ms;
}
.btnExo:hover,
.btnVocab:hover,
#button-d2607e45:hover {
  color: var(--couleur-contrast-clair);
  box-shadow: var(--couleur-box-shadow-int-clair);
}

#Aff {
  color: var(--couleur-btn-clair);
  font-weight: bold;
  margin-top: 10px;
}
.oVYRo::before,
.oVYRo::after {
  background-color: var(--couleur-fond-clair);
}
.imgBG h1.brandLogo {
  position: absolute;
  font-family: "Cairo", sans-serif;
  text-align: center;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--couleur-fond-clair);
  z-index: 99999;
}
.loader-wrapper.hide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  z-index: 99999;
  animation: fill 2s ease forwards 2.2s;
}
#logo-a {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  animation: anime 4s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 0.5s;
}
#logo path:nth-child(3) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1s;
}
#logo path:nth-child(4) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1.5s;
}
@media screen and (min-width: 1100px) {
  .navlist li {
    font-size: 1.3rem;
    flex-grow: 1;
  }
  .vocabulary label {
    display: inline-block;
    width: 325px;
    vertical-align: top;
    white-space: nowrap;
  }
  .vocabAR {
    font-family: "Amiri Quran", serif;
  }
}
@media screen and (min-width: 769px) {
  .navlistPub {
    display: none;
  }
  .navwrapper {
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .notonhomepage {
    border-radius: 10px;
    box-shadow: var(--couleur-box-shadow-out-clair);
    background: var(--couleur-fond-clair);
    margin: 10px;
  }
  .logo {
    transition: all 0.3s ease-in-out;
    flex-basis: 20%;
  }
  .navlist {
    display: flex;
    flex-basis: 55%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .navlist li {
    font-size: 1.3rem;
    flex-grow: 1;
    margin: 3%;
  }
  .navlist li a {
    padding: 20%;
  }
}
@media screen and (max-width: 768px) {
  .navListLi {
    display: none;
  }
  svg.hideBg {
    border: none;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  .imgBG {
    width: 140%;
  }
  .inline-vocabulary {
    width: 100%;
    display: inline-table;
  }
  .inline-input {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .correction,
  #button-d2607e45,
  .btnExo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btnVocab {
    width: auto;
  }
  .inline-input > div:nth-child(3) {
    order: 3;
  }

  input.InputFill {
    width: 50%;
    margin: 2px 3px 5px 0;
    height: 50px;
  }
  .vocabulary {
    margin: 0 auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .burger.toggleMenu {
    margin: 0 1%;
  }
  .logo {
    transition: all 0.3s ease-in-out;
  }
  .navwrapper {
    transition: all 0.3s ease-in-out;
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .notonhomepage {
    border-radius: 10px;
    border: none;
    box-shadow: var(--couleur-box-shadow-out-clair);
    background: var(--couleur-fond-clair);
    margin: 10px;
  }
  .navlist {
    display: flex;
    right: 3%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navlist li {
    flex-grow: 1;
    font-size: 1.13rem;
  }
  .navlist li a {
    padding: 20%;
  }
}
@media screen and (max-width: 480px) {
  .burger.toggleMenu {
    margin: 0 1%;
  }
  .logo {
    transition: all 0.3s ease-in-out;
  }
  .navwrapper {
    transition: all 0.3s ease-in-out;
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .notonhomepage {
    border-radius: 10px;
    border: none;
    box-shadow: var(--couleur-box-shadow-out-clair);
    background: var(--couleur-fond-clair);
    margin: 10px;
  }
  .navlist {
    display: flex;
    right: 3%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navlist li {
    flex-grow: 1;
    font-size: 1.13rem;
  }
  .navlist li a {
    padding: 20%;
  }
}
.modal-container {
  position: fixed;
  display: table;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
.modal-container.one {
  transform: scaleY(0.05) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  z-index: 3;
}
.modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  font-family: "Amiri Quran", serif;
}
.modal-container.one.out {
  transform: scaleY(1) scaleX(1);
  animation: unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.one.out .modal-background .modal {
  transform: scale(1);
  animation: zoomOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container .modal-background {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.modal-background .modal {
  background-color: var(--couleur-fond-clair);
  box-shadow: var(--couleur-box-shadow-out-clair);
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
.modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
.modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.content {
  min-height: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
      .content .buttons .buttonModal {
        display: inline-block;
        cursor: pointer;
      }
      .content .buttons .buttonModal:hover {
        color: white;
        box-shadow: -10px -10px -20px #fff;
      }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.001) scaleX(0);
    background: var(--couleur-contrast-clair);
  }
  40% {
    transform: scaleY(0.001) scaleX(95%);
    background: var(--couleur-contrast-clair);
  }
  100% {
    transform: scaleY(1) scaleX(1);
    background: var(--couleur-fond-clair);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
    background: var(--couleur-contrast-clair);
  }
  40% {
    transform: scaleY(0.001) scaleX(95%);
    background: var(--couleur-contrast-clair);
  }
  100% {
    transform: scaleY(0.001) scaleX(0);
    background: var(--couleur-contrast-clair);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes anime {
  100% {
    stroke-dashoffset: 1000;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--couleur-btn-clair);
  }
}
