@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Cairo&display=swap");


body {
  background-color: #f5f5f5;
  padding: 20px;
}

.verse-number {
  display: inline-block;
  width: 30px;
  font-weight: bold;
}

.arabic, .sura {
  font-family: "Amiri Quran", serif;
  font-weight: 500;
  font-size: 30px;
}

.translation {
  display: block;
  font-size: 20px;
  color: #555;
}

.basmala {
  text-align: center;
  font-size: 32px;
  margin: 30px 0 50px 0;
}

.sura {
  text-align: center;
  font-size: 26px;
  margin-top: 40px;
}

.ayah {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.verse-input {
  direction: rtl;
  text-align: right;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.verse-text {
  display: inline-block;
}

.error {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 2px;
}

.error-message {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.word-wrapper {
  display: inline;
}

.keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 2%;
  border-radius: 5px;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  z-index: 9999;
}

.keyboard.show {
  transform: translateY(0);
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  flex-wrap: wrap;
}

.keyboard-key {
  display: flex;
  width: 10%;
  height: 10vh;
  padding: 1%;
  font-size: 3vh;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 1%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.keyboard-key:hover {
  background-color: #e0e0e0;
}

.keyboard-key:active {
  background-color: #ccc;
}

.keyboard-key.direction {
  display: flex;
  width: 11%;
  margin: 0 1px;
  justify-content: center;
  align-items: center;
}

.keyboard-key.space {
  margin-left: auto;
}

@media (max-width: 767px) {
  .keyboard-key {
    width: 6.3%;
    height: 5vh;
    font-size: 2.5vh;
  }

  button.keyboard-key.delete {
    width: 15%;
  }

  .keyboard-key.space {
    width: 35%;
    margin-right: 10%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .keyboard-key {
    width: 7%;
    height: 6vh;
    font-size: 3vh;
  }

  button.keyboard-key.delete {
    width: 10%;
  }

  .keyboard-key.space {
    width: 40%;
    margin-right: 7%;
  }
}

@media (min-width: 992px) {
  .keyboard-key {
    width: 5%;
    height: 7vh;
    font-size: 3vh;
  }

  .keyboard-key.space {
    width: 45%;
    margin-right: 5%;
  }
}
