@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Cairo&display=swap");


body {
  background-color: #f5f5f5;
  padding: 20px;
}

.verse-number {
  display: inline-block;
  width: 30px;
  font-weight: bold;
}

.arabic, .sura {
  font-family: "Amiri Quran", serif;
  font-weight: 500;
  font-size: 30px;
}

.translation {
  display: block;
  font-size: 20px;
  color: #555;
}

.basmala {
  text-align: center;
  font-size: 32px;
  margin: 30px 0 50px 0;
}

.sura {
  text-align: center;
  font-size: 26px;
  margin-top: 40px;
}

.ayah {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.input-fill {
  direction: rtl;
  text-align: right;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.verse-text {
  display: inline-block;
}

.error {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 2px;
}

.error-message {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.word-wrapper {
  display: inline;
}
