<style>
  /* FONT SYSTEME.IO */
  #row-a85edaf0 {
    display: none;
  }

  /* HEADER */
  .brand {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: var(--couleur-btn);
    font-family: var(--font-grec);
    background-image: var(--bg-Quran);
    background-size: contain;
    background-position: bottom;
    background-repeat: repeat;
  }
  .brand-bg {
    width: 100%;
    height: 100%;
    background-image: var(--couleur-fond-bg);
  }
  .brand-h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  /*QURAN*/
  #mushaf-layout {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--couleur-btn);
    background-image: var(--couleur-fond-bg);
    background-size: cover;
  }
  .mushaf-layout .mushaf-wrapper {
    margin: 50px auto;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
    height: 100%;
  }
  .bg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: var(--bg-Quran);
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    z-index: -1;
  }
  #surah {
    display: flex;
    position: relative;
    width: 50%;
    height: 50%;
    fill: var(--couleur-btn);
    stroke: var(--couleur-btn);
    stroke-width: 10px;
  }
  .mushaf-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    height: 100%;
  }
  .ayah,
  .kalam,
  .input-fill,
  .input-container {
    direction: rtl;
    text-align: right;
    font-size: 2.5rem;
    line-height: 90px;
    border-radius: 10px;
    color: var(--couleur-btn);
    font-family: "KFGQPCUthmanicScriptHAFS7696220";
  }
  .ayahNum,
  .ayah-num,
  .user-answers {
    font-size: 2rem;
    color: var(--couleur-text);
  }
  .harakat {
    font-family: "AmiriQuranRegular7696256";
  }
  .mushaf-button {
    position: relative;
    margin: 35px auto;
    padding: 15px 40px;
    border: none;
    text-transform: uppercase;
    color: var(--couleur-text);
    font-family: var(--font-grec);
    font-weight: bolder;
    border-radius: 10px;
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-out);
    cursor: pointer;
  }
  .mushaf-button:hover {
    box-shadow: var(--couleur-box-shadow-out-hover);
    color: var(--couleur-btn);
  }
  .mushaf-button:active {
    box-shadow: var(--couleur-box-shadow-out-int);
  }
  .hidden {
    display: none;
  }
  .input-fill {
    margin-right: 8px;
    direction: rtl;
    text-align: right;
    border: none;
    border-bottom: 1px solid var(--couleur-btn);
    background-color: transparent;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
  .kalam.error {
    color: #700;
  }
  .error {
    border-radius: 10px;
    border-bottom: 0.1px solid #700;
  }
  .correct {
    color: green;
  }
  .user-answers {
    display: block;
  }
  .kalam-wrapper {
    display: inline;
  }
  .row-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 35px 0;
    background-image: var(--couleur-fond-row);
  }
  .row {
    margin: 0 15px;
  }

  /*FOOTER*/
  footer {
    display: none;
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-int);
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
  footer.show {
    display: block;
    transform: translateY(0);
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: var(--couleur-box-shadow-out);
  }
  #footer {
    font-family: var(--font-grec);
    font-weight: 100;
    color: var(--couleur-contrast);
    text-shadow: var(--couleur-text-shadow);
  }
  @media screen and (max-width: 550px) {
    .ayah,
    .kalam,
    .input-fill,
    .input-container {
      font-size: 1.5rem;
      line-height: 50px;
    }
    .ayahNum,
    .ayah-num,
    .user-answers {
      font-size: 0.9rem;
      color: var(--couleur-text);
    }
  }
</style>
