@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Cairo&display=swap");

body {
  background-color: #f1efe4;
}

legend {
  float: none !important;
  padding: initial !important;
  width: initial !important;
}

.inline-vocabulary,
.inline-input {
  display: block;
  text-align: right;
  margin: 10px 5px 15px 5px;
}

.exercice {
  font-size: 1em;
  font-weight: bold;
}

/* Style oriental */
.exercice fieldset {
  padding: 10px 20px;
  border: 1px solid #bf9b30;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #bf9b30;
  background: rgb(255 255 255 / 95%) !important;
}

#popup-f1e084dd {
  border: 1px solid #bf9b30;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #bf9b30;
  background: #4c2a02;
}

.exercice legend {
  color: #4c2a02;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #bf9b30;
  text-align: left;
}

.vocabulaire {
  white-space: nowrap;
}

.vocabulary {
  color: #755503;
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 10px;
  text-align: left !important;
}

.vocabAR {
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  font-family: "Amiri Quran", serif;
  font-size: 1.3em;
}

.vocabFR {
  font-family: "Cairo", sans-serif;
}

span.vocabAR.or {
  width: 0px;
  margin: 0 15px 0 10px;
}

span.vocabAR.and {
  width: 0px;
  margin: 0 35px 0 10px;
}

.InputFill {
  font-family: "Amiri Quran", serif;
  text-align: right !important;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid #bf9b30;
  border-radius: 5px;
  font-weight: bold;
  width: 25%;
  padding: 2px 5px;
}

@media screen and (min-width: 1100px) {
  .vocabulary label {
    display: inline-block;
    width: 325px;
    vertical-align: top;
    white-space: nowrap;
  }
  .vocabAR {
    font-family: "Amiri Quran", serif;
  }
}
@media screen and (max-width: 768px) {
  .inline-vocabulary {
    width: 100%;
    display: inline-table;
  }
  .inline-input {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .correction,
  #button-d2607e45,
  #button-d2607e45,
  .btnExo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .inline-input > div:nth-child(3) {
    order: 3;
  }

  input.InputFill {
    width: 50%;
    margin: 2px 3px 5px 0;
    height: 50px;
  }
  .vocabulary {
    margin: 0 auto;
  }
}

.Vocab-hidden {
  display: none;
}

.reset {
  display: none;
}

.correction {
  text-align: center;
  margin: 0 auto;
}

.correct {
  display: none;
}

.btnExo {
  margin: 5px 5px;
  border: 1px solid #bf9b30;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bf9b30;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #bf9b30 0%,
    #dccb96 51%,
    #bf9b30 100%
  );
  transition: 0.5s;
  background-size: 270% auto;
  color: #4c2a02;
  transition-duration: 400ms;
  transform: scale(1);
}
.btnVocab,
#button-d2607e45 {
  display: block;
  margin: 5px auto;
  border: 1px solid #bf9b30;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bf9b30;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #bf9b30 0%,
    #dccb96 51%,
    #bf9b30 100%
  );
  transition: 0.5s;
  background-size: 270% auto;
  color: #4c2a02;
  transition-duration: 400ms;
  transform: scale(1);
}

.btnExo:hover,
.btnVocab:hover,
#button-d2607e45:hover {
  background-position: right center;
  color: #4c2a02;
  text-decoration: #683f19;
  transform: scale(0.98);
  background-color: #683f19;
  border-color: #ae6e32;
  box-shadow: 0px 0px 5px #83691e;
}

#Aff {
  color: #bf9b30;
  font-weight: bold;
  margin-top: 10px;
}
.oVYRo::before,
.oVYRo::after {
  background-color: #d1b971;
}
/*Loader*/
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  z-index: 9999;
}
.loader-wrapper.hide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#logo {
  top: 0%;
  left: 3%;
  width: 95%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  animation: fill 2s ease forwards 2.2s;
}
#logo-a {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  animation: anime 4s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 0.5s;
}
#logo path:nth-child(3) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1s;
}
#logo path:nth-child(4) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1.5s;
}

@keyframes anime {
  100% {
    stroke-dashoffset: 1000;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #83691e;
    stroke: #4c2a02;
  }
}
