<style>
  /* RESTE SYSTEME.IO */
  #row-82858dfe,
  #headline-07dea74e {
    display: none;
  }
  #headline-aa8196dc {
    color: var(--couleur-btn);
  }
  .membership-layout .membership-layout__main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .px-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .navbar-systeme,
  .course-info__instructor-container {
    display: none;
  }
  .membership-layout {
    margin-top: 100px;
    background-color: var(--couleur-fond);
    transition: all 0.3s ease-in-out;
  }
  .membership-layout .membership-layout__sidebar {
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-out);
    border-radius: 5px;
    margin: 10px;
  }
  .membership-layout .membership-layout__sidebar-content {
    background-color: var(--couleur-fond);
    width: 100%;
    padding: 0 !important;
  }
  .membership-layout__content-wrapper.membership-layout__content-wrapper_buttons {
    display: none;
  }
  .btn-course-primary,
  .btn-course-secondary {
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-out);
    color: var(--couleur-btn);
    border-color: #00000000;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }
  .btn-course-primary:not(span):hover,
  span.btn-course-primary.text-center:hover,
  .btn-course-secondary:not(span):hover,
  span.btn-course-secondary.text-center:hover {
    background-color: var(--couleur-fond);
    border-color: #00000000;
    color: var(--couleur-contrast);
    box-shadow: var(--couleur-box-shadow-int);
  }
  .course-info .course-info__progress-bar .progress {
    background-color: var(--couleur-contrast);
    box-shadow: var(--couleur-box-shadow-int);
  }
  .course-info .course-info__progress-bar .progress-bar {
    background-color: var(--couleur-btn);
  }
  .course-info .course-info__progress-bar-label {
    color: var(--couleur-text);
  }
  .course-info .course-info__module-title.course-info__module-title_active {
    color: var(--couleur-btn);
  }
  .course-info .course-info__module-title {
    color: var(--couleur-btn);
  }
  .course-info
    .course-info__module-status.course-info__module-status_started
    .course-info
    .course-info__module-status {
    color: var(--couleur-btn);
    margin-left: 15px;
  }
  .course-info .course-info__lecture-title.course-info__lecture-title_active a,
  .course-info
    .course-info__lecture-title.course-info__lecture-title_active
    a:hover,
  .course-info
    .course-info__lecture-title.course-info__lecture-title_active
    a:visited {
    color: var(--couleur-btn);
  }
  .course-info .course-info__lecture-status {
    color: var(--couleur-btn);
    margin-left: 15px;
  }
  .course-info .course-info__lecture-title a,
  .course-info .course-info__lecture-title a:hover,
  .course-info .course-info__lecture-title a:visited {
    color: var(--couleur-txt);
  }
  .membership-layout
    .membership-layout__content-wrapper.membership-layout__content-wrapper_buttons {
    background-color: #00000000;
    margin-bottom: 0 !important;
  }
  .course-info__module-title {
    margin-left: 15px;
    color: var(--couleur-btn);
  }
  .course-info__lecture-title {
    margin-left: 15px;
  }
  .progress {
    margin: 50px 10px 0;
    box-shadow: var(--couleur-box-shadow-int);
    background-color: var(--couleur-contrast);
  }
  .progress-bar {
    box-shadow: var(--couleur-box-shadow-int);
    background-color: var(--couleur-btn);
  }

  .course-info__module-row {
    display: flex;
    flex-direction: row;
    color: var(--couleur-btn);
    font-weight: bolder;
  }
  .course-info__lecture-row {
    display: flex;
    flex-direction: row;
    margin: 15px;
    color: var(--couleur-btn);
  }
  .course-info__progress-bar-label {
    margin: 0 0 50px;
    color: var(--couleur-text);
  }
  .course-info__lecture-title_active a {
    color: var(--couleur-btn);
  }
  .course-info__lecture-title,
  a {
    color: var(--couleur-text);
  }
  .course-info__modules {
    margin-left: 15px;
  }
  .course-info__module {
    margin-top: 30px;
  }
  .course-info .course-info__module-status.course-info__module-status_completed,
  .course-info .course-info__module-status.course-info__module-status_started,
  .course-info .course-info__module-status.course-info__module-status_selected {
    color: var(--couleur-btn);
  }
  @media screen and (min-width: 992px) {
    .course-info .course-info__title,
    .course-info .course-info__instructor-container {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .membership-layout__sidebar {
      display: none;
    }
  }
</style>
