label, input {
  display: block;
}

label{
  margin-bottom: 2px;
}

input {
  margin-bottom: 14px;
}

button {
  padding: 2px 4px;
  margin-bottom: 14px;
}

.email-validation {
  display: none;
}