@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-out);
    padding: 20px;
    border-radius: 5px;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    z-index: 9999;
  }
  
  .keyboard.show {
    transform: translateY(0);
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    flex-wrap: wrap;
  }
  
  .keyboard-key {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40px;
    height: 60px;
    padding: 5px;
    font-size: 3vh;
    font-weight: bolder;
    font-family: var(--font-arabic);
    color: var(--couleur-text);
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-out);
    border-style: none;
    border-radius: 5px;
    margin: 3px 1px;
    cursor: pointer;
  }
  
  .keyboard-key:hover {
    background-color: var(--couleur-contrast);
  }
  
  .keyboard-key:active {
    box-shadow: var(--couleur-box-shadow-out);
  }
  
  .keyboard-key.direction,
  .keyboard-key.delete {
    display: flex;
    width: 80px;
    margin: 0 1px;
    justify-content: center;
    align-items: center;
  }
  
  .keyboard-key.space {
    width: 240px;
    margin: 0 9px;
  }
  
  @media (max-width: 767px) {
    .keyboard {
      padding: 5px;
    }
    .keyboard-key {
      width: 30px;
      height: 50px;
      padding: 3px;
    }
  
    .keyboard-key.delete {
      
    }
  
    .keyboard-key.space {

    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .keyboard-key {

    }
  
    .keyboard-key.delete {
      
    }
  
    .keyboard-key.space {
 
    }
  }