@font-face {
  font-family: "Quran";
  src: url("../../1.Quran/Assets/Font/alfont_com_Hafs-Font-v0.09-2.otf")
    
}
:root {
  --couleur-fond: #e4ebf5;
  --couleur-contrast: #ced4dc;
  --couleur-btn: #031c40;
  --couleur-text: #031c40;
  --couleur-box-shadow-int: inset -3px -3px 3px #ffffff44,
    inset 3px 3px 3px #898e9244;
  --couleur-box-shadow-out: -3px -3px 3px #ffffff44, 3px 3px 3px #898e9244;
  --couleur-box-shadow-out-hover: 0px -2px 1px #ffffff44,
    0px 1px 1px #898e9244;
  --couleur-text-shadow: -1px -2px 3px #ffffff77, 1px 2px 3px #898e9244;
  --couleur-switch: #ffffff;
  --couleur-fond-bg: radial-gradient(circle, #e4ebf5, #e4ebf580 50%);
  --couleur-fond-row: linear-gradient(#e4ebf550, #e4ebf5);
  --font-arabic: "Amiri Quran", serif;
  --font-grec: "Cairo", sans-serif;
  --font-Quran: "Quran";
  --bg-Quran: url("https://raw.githubusercontent.com/IAM-B/Frontend-Projects/main/IELAM/1.Quran/Assets/IMG/paterne.svg");
  transition: all 0.3s ease-in-out;
}
body.dark {
  --couleur-fond: #0d1117;
  --couleur-contrast: #31363b;
  --couleur-btn: #e4ebf5;
  --couleur-text: #647075;
  --couleur-box-shadow-int: inset -3px -3px 3px #30303044,
    inset 3px 3px 3px #00000044;
  --couleur-box-shadow-out: -3px -3px 3px #30303044, 3px 3px 3px #00000044;
  --couleur-box-shadow-out-hover: 0px -1px 1px #30303044,
    0px 2px 1px #00000044;
  --couleur-text-shadow: -1px -2px 3px #30303077, 1px 2px 3px #00000044;
  --couleur-switch: #000000;
  --couleur-fond-bg: radial-gradient(circle, #0d1117 25%, #0d111799 100%);
  --couleur-fond-row: linear-gradient(#0d111750 10%, #0d1117);
  --bg-Quran: url("https://raw.githubusercontent.com/IAM-B/Frontend-Projects/main/IELAM/1.Quran/Assets/IMG/paterne-dark.svg");
  transition: all 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--couleur-fond);
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
/* SYSTEME.IO */
#row-5fc7b82b,
#row-15a92c79 {
  display: none;
}

/* Loader */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--couleur-fond);
  z-index: 99999;
}
.loader-wrapper.hide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  z-index: 99999;
  animation: fill 2s ease forwards 2.2s;
}
#logo-a {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  animation: anime 4s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 0.5s;
}
#logo path:nth-child(3) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1s;
}
#logo path:nth-child(4) {
  stroke-dasharray: (3 1);
  stroke-dashoffset: (1);
  animation: anime 4s ease forwards 1.5s;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
header.page1.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand {
  width: 100%;
  height: 100%;
}
.brand-bg {
  width: 100%;
  height: 100%;
  background-image: var(--bg-Quran);
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat;
  z-index: -1;
}
.brand-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: var(--couleur-fond-bg);
  left: 50%;
  bottom: 50%;
  color: var(--couleur-btn);
  transform: translate(-50%, 50%);
}

/* main */
main {
  position: relative;
  width: 100%;
}
legend {
  float: none;
  padding: initial;
  width: initial;
}
.p1 {
  font-family: "Cairo", sans-serif;
  font-weight: 100;
  color: #08f417;
  text-align: center;
  font-size: 2em;
  margin: 50px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--couleur-box-shadow-int);
  text-shadow: var(--couleur-text-shadow);
}
.p2,
.p3,
.p4 {
  font-family: "Cairo", sans-serif;
  font-weight: 100;
  color: var(--couleur-text);
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -40px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--couleur-box-shadow-int);
  text-shadow: var(--couleur-text-shadow);
}
.p3,
.p4 {
  margin-bottom: 40px;
}
.inline-vocabulary,
.inline-input {
  display: block;
  text-align: right;
  margin: 10px 5px 15px 5px;
}
#exerciceSection {
  display: none;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.exercice {
  font-size: 1em;
  font-weight: bold;
}
.exercice fieldset {
  margin: 0 0 50px 0;
  border-radius: 10px;
  border: none;
  box-shadow: var(--couleur-box-shadow-out);
  background: var(--couleur-fond) !important;
  transition: all 0.3s ease-in-out;
}
.exercice legend {
  color: var(--couleur-contrast);
  margin-left: 10%;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  background: var(--couleur-fond);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--couleur-box-shadow-int);
  text-shadow: var(--couleur-text-shadow);
}
.ticket {
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: var(--couleur-box-shadow-out);
}
.vocabulary {
  color: var(--couleur-text);
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 10px;
  text-align: left;
}
div.buttonModal {
  box-shadow: var(--couleur-box-shadow-out);
  border-radius: 10px;
  margin-left: 15px;
}
svg#dialog {
  fill: var(--couleur-btn);
  width: 40px;
  padding: 8px 5px 0 5px;
}
div.buttonModal:hover {
  transition: 0.2s ease-in-out;
}
svg#dialog:hover {
  fill: var(--couleur-contrast);
  transition: 0.2s ease-in-out;
}
div.buttonModal:active {
  box-shadow: var(--couleur-box-shadow-int);
  transition: 0.2s ease-in-out;
}
.vocabAR {
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  font-family: "Amiri Quran", serif;
  font-size: 1.3em;
}
.vocabFR {
  font-family: "Cairo", sans-serif;
}
span.vocabAR.or {
  width: 0px;
  margin: 0 15px 0 10px;
}
span.vocabAR.and {
  width: 0px;
  margin: 0 35px 0 10px;
}
.input-fill {
  direction: rtl;
  margin-right: 5px;
  font-family: "Amiri Quran", serif;
  text-align: right !important;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--couleur-text);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 25%;
  padding: 2px 5px;
  box-shadow: var(--couleur-box-shadow-out);
  background: var(--couleur-fond);
  transition: all 0.3s ease-in-out;
}
input:focus {
  caret-color: var(--couleur-text);
  outline: none;
  box-shadow: var(--couleur-box-shadow-int);
}
.Vocab-hidden {
  display: none;
}
.correction {
  text-align: center;
  margin-top: 50px;
}
.btnExo {
  width: 15%;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--couleur-box-shadow-out);
  background: var(--couleur-fond);
  transition: 0.5s;
  background-size: 270% auto;
  color: var(--couleur-btn);
  transition-duration: 400ms;
  transition: all 0.3s ease-in-out;
}
.btnVocab {
  display: block;
  padding: 10px;
  width: 25%;
  margin: 50px auto 0;
  border-radius: 5px;
  border: none;
  box-shadow: var(--couleur-box-shadow-out);
  background: var(--couleur-fond);
  transition: 0.5s;
  background-size: 270% auto;
  color: var(--couleur-btn);
  transition-duration: 400ms;
  transition: all 0.3s ease-in-out;
}
.btnExo:hover,
.btnVocab:hover:hover {
  color: var(--couleur-contrast);
}
button.btnExo:active {
  box-shadow: var(--couleur-box-shadow-int);
  transition: 0.2s ease-in-out;
}
#Aff {
  color: var(--couleur-text);
  font-weight: bold;
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 350px;
  border-radius: 10px;
  box-shadow: var(--couleur-box-shadow-out);
}
.oVYRo::before,
.oVYRo::after {
  background-color: var(--couleur-fond);
}
.modal-container {
  position: fixed;
  display: table;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
.modal-container.one {
  transform: scaleY(0.05) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  z-index: 3;
}
.modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  font-family: "Amiri Quran", serif;
}
.modal-container.one.out {
  transform: scaleY(1) scaleX(1);
  animation: unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.one.out .modal-background .modal {
  transform: scale(1);
  animation: zoomOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container .modal-background {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.modal-background .modal {
  background-color: var(--couleur-fond);
  box-shadow: var(--couleur-box-shadow-out);
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
.modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
.modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.buttons .buttonModal {
  display: inline-block;
  cursor: pointer;
}

/*QURAN*/
#mushaf-layout {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--couleur-btn);
  background-image: var(--couleur-fond-bg);
  background-size: cover;
}

.mushaf-layout .mushaf-wrapper {
  margin: 50px auto;
  text-align: center;
  display: flex;
  align-content: center;
  margin: auto;
  height: 100%;
}

.bgImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: var(--bg-Quran);
  background-size: contain;
  background-position: top;
  background-repeat: repeat;
  z-index: -1;
}

#surah {
  display: flex;
  position: relative;
  width: 50%;
  height: 50%;
  fill: var(--couleur-btn);
  stroke: var(--couleur-btn);
  stroke-width: 10px;
}
.mushaf-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  height: 100%;
}
.ayah,
.kalam,
.input-ayah,
.input-container {
  direction: rtl;
  text-align: right;
  font-size: 2.5rem;
  line-height: 90px;
  border-radius: 10px;
  color: var(--couleur-btn);
  font-family: var(--font-Quran);
}
.ayahNum,
.ayah-num,
.user-answers {
  font-size: 2rem;
  color: var(--couleur-text);
}
.mushaf-button {
  position: relative;
  margin: 35px auto;
  padding: 15px 40px;
  border: none;
  text-transform: uppercase;
  color: var(--couleur-text);
  font-family: var(--font-grec);
  font-weight: bolder;
  border-radius: 10px;
  background-color: var(--couleur-fond);
  box-shadow: var(--couleur-box-shadow-out);
  cursor: pointer;
}
.mushaf-button:hover {
  box-shadow: var(--couleur-box-shadow-out-hover);
  color: var(--couleur-btn);
}
.mushaf-button:active {
  box-shadow: var(--couleur-box-shadow-out-int);
}
.hidden {
  display: none;
}
.input-ayah {
  margin-right: 8px;
  direction: rtl;
  text-align: right;
  border: none;
  border-bottom: 1px solid var(--couleur-btn);
  background-color: transparent;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
.error {
  border-radius: 10px;
  border-bottom: 0.1px solid red;
}
.correct {
  color: green;
}
.user-answers {
  display: block;
}
.kalam-wrapper {
  display: inline;
}
.row-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 35px 0;
  background-image: var(--couleur-fond-row);
}
.row {
  margin: 0 50px;
}

/*FOOTER*/
footer {
  display: none;
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: var(--couleur-fond);
  box-shadow: var(--couleur-box-shadow-int);
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}
footer.show {
  display: block;
  transform: translateY(0);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: var(--couleur-box-shadow-out);
}
#footer {
  font-family: var(--font-grec);
  font-weight: 100;
  color: var(--couleur-contrast);
  text-shadow: var(--couleur-text-shadow);
}

/*KEYBOARD*/
.keyboard {
  position: fixed;
  bottom: 0;
  background-color: var(--couleur-fond);
  box-shadow: var(--couleur-box-shadow-out);
  padding: 15px;
  border-radius: 5px;
  transform: translateY(300%);
  transition: transform 0.3s ease-out;
  z-index: 9999;
}

.keyboard.show {
  transform: translateY(0);
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
  font-weight: bold;
  font-family: "AmiriQuranRegular";
  color: var(--couleur-text);
  background-color: var(--couleur-fond);
  box-shadow: var(--couleur-box-shadow-out);
  border-style: none;
  border-radius: 5px;
  margin: 5px 9px;
  cursor: pointer;
}

.keyboard-key:hover {
  color: var(--couleur-contrast);
  box-shadow: var(--couleur-box-shadow-out-hover);
}

.keyboard-key:active {
  border-radius: 5px;
  box-shadow: var(--couleur-box-shadow-int);
}

.keyboard-key.space {
  width: 595px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1100px) {
  .burger svg:hover {
    stroke: var(--couleur-contrast);
    fill: var(--couleur-fond);
    transition: all 0.5s ease;
  }
  .burger.toggleMenu.active svg {
    stroke: var(--couleur-contrast);
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-int);
    transition: all 0.5s ease;
  }
  .navlist li {
    font-size: 1.3rem;
    flex-grow: 1;
  }
  form#vocab {
    margin: 50px 400px;
  }
  .vocabulary label {
    display: inline-block;
    width: 325px;
    vertical-align: top;
    white-space: nowrap;
  }
  .vocabAR {
    font-family: "Amiri Quran", serif;
  }
  .keyboard-key {
    padding: 45px;
    font-size: 2.5vh;
  }
}
@media (min-width: 801px) {
  .burger.toggleMenu.active svg {
    stroke: var(--couleur-contrast);
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-int);
    transition: all 0.5s ease;
  }
  .navlistPub {
    display: none;
  }
  .navwrapper {
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .logo {
    transition: all 0.3s ease-in-out;
    flex-basis: 20%;
  }
  .navlist {
    display: flex;
    flex-basis: 55%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .navlist li {
    font-size: 1.3rem;
    flex-grow: 1;
    padding: 3%;
  }
}
@media (max-width: 800px) {
  .burger.toggleMenu.active svg {
    stroke: var(--couleur-contrast);
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-int);
    transition: all 0.5s ease;
  }
  #logo {
    width: 90%;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    z-index: 99999;
    animation: fill 2s ease forwards 2.2s;
  }
  .switch {
    margin: 0 30px;
  }
  .navListLi {
    display: none;
  }
  svg.hideBg {
    border: none;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  .imgBG {
    width: 140%;
  }
  .inline-vocabulary {
    width: 100%;
    display: inline-table;
  }
  .inline-input {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .correction .btnExo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btnVocab {
    width: auto;
    padding: 10px 20px;
  }
  .inline-input > div:nth-child(3) {
    order: 3;
  }

  input.input-fill {
    direction: rtl;
    color: var(--couleur-text);
    width: 50%;
    margin: 2px 3px 5px 0;
    height: 50px;
  }
  .vocabulary {
    margin: 0 auto;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  .ayah,
  .kalam,
  .input-ayah,
  .input-container {
    font-size: 2rem;
    line-height: 70px;
  }

  .keyboard {
    width: 100%;
    padding: 5px 0;
  }
  .keyboard-key {
    width: 50px;
    height: 45px;
    margin: 4px 3px;
    font-size: 2rem;
  }

  .keyboard-key.space {
    width: 500px;
  }
}
@media screen and (min-width: 481px) and (max-width: 799px) {
  .ayah,
  .kalam,
  .input-ayah,
  .input-container {
    font-size: 1.5rem;
    line-height: 50px;
  }
  .burger.toggleMenu.active svg {
    stroke: var(--couleur-contrast);
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-int);
    transition: all 0.5s ease;
  }
  .burger.toggleMenu {
    margin: 0 1%;
  }
  .logo {
    transition: all 0.3s ease-in-out;
  }
  .navwrapper {
    transition: all 0.3s ease-in-out;
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .navlist {
    display: flex;
    right: 3%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navlist li {
    flex-grow: 1;
    font-size: 1.13rem;
  }
  .navlist li a {
    padding: 20%;
  }
  form#vocab {
    margin: 50px 80px;
  }

  .keyboard {
    width: 100%;
    padding: 5px 0;
  }
  .keyboard-key {
    width: 30px;
    height: 45px;
    margin: 4px 3px;
    font-size: 1.5rem;
  }

  .keyboard-key.space {
    width: 320px;
  }
}
@media screen and (max-width: 480px) {
  .burger.toggleMenu.active svg {
    stroke: var(--couleur-contrast);
    background-color: var(--couleur-fond);
    box-shadow: var(--couleur-box-shadow-int);
    transition: all 0.5s ease;
  }
  .burger.toggleMenu {
    margin: 0 1%;
  }
  .logo {
    transition: all 0.3s ease-in-out;
  }
  .navwrapper {
    transition: all 0.3s ease-in-out;
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .navlist {
    display: flex;
    right: 3%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navlist li {
    flex-grow: 1;
    font-size: 1.13rem;
  }
  .navlist li a {
    padding: 20%;
  }

  .keyboard {
    width: 100%;
    padding: 5px 0;
  }
  .keyboard-key {
    width: 25px;
    height: 45px;
    margin: 4px 3px;
    font-size: 1.1rem;
  }

  .keyboard-key.space {
    width: 275px;
    margin: 0 3px;
  }
}
@media screen and (min-width: 395px) and (max-width: 480px) {
  .ayah,
  .kalam,
  .input-ayah,
  .input-container {
    font-size: 1.6rem;
    line-height: 50px;
  }
  .ayahNum,
  .ayah-num,
  .user-answers {
    font-size: 1.3rem;
  }
  .row {
    margin: 0 10px;
  }
  .mushaf-button {
    padding: 5px 20px;
  }
}
@media screen and (max-width: 394px) {
  .ayah,
  .kalam,
  .input-ayah,
  .input-container {
    font-size: 1.3rem;
    line-height: 50px;
  }
  .ayahNum,
  .ayah-num,
  .user-answers {
    font-size: 1.1rem;
  }
  .row {
    margin: 0 10px;
  }
  .mushaf-button {
    padding: 5px 20px;
  }
}

/* ANIMATION */
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.001) scaleX(0);
    background: var(--couleur-contrast);
  }
  40% {
    transform: scaleY(0.001) scaleX(95%);
    background: var(--couleur-contrast);
  }
  100% {
    transform: scaleY(1) scaleX(1);
    background: var(--couleur-fond);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
    background: var(--couleur-contrast);
  }
  40% {
    transform: scaleY(0.001) scaleX(95%);
    background: var(--couleur-contrast);
  }
  100% {
    transform: scaleY(0.001) scaleX(0);
    background: var(--couleur-contrast);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes anime {
  100% {
    stroke-dashoffset: 1000;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--couleur-btn);
  }
}
