*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 50px 0px;
}

h1 {
  margin-bottom: 14px;
}
